<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.idus.api.mapper.UserMapper">

    <sql id="selectCustomerCondition">
        <if test="name!=null and !name.equals('')">
            AND CUSTOMER_NAME = #{name}
        </if>
        <if test="email!=null and !name.equals('')">
            AND CUSTOMER_EMAIL = #{email}
        </if>
    </sql>

    <select id="selectCustomerInfo" parameterType="UserReqVO" resultType="UserDTO">
        SELECT CUSTOMER_IDX as idx,
               CUSTOMER_NAME as name,
               CUSTOMER_PHONE_NUMBER as phoneNumber,
               CUSTOMER_NICK_NAME as nickName,
               CUSTOMER_EMAIL as email,
               CUSTOMER_GENDER as gender
          FROM CUSTOMER
         WHERE 1=1
        <include refid ="selectCustomerCondition"/>
    </select>

    <select id="selectOrderList" parameterType="UserReqVO" resultType="OrderDTO">
        SELECT c.CUSTOMER_NAME as orderName,
        o.ORDER_IDX as orderIdx,
        o.ORDER_PRODUCT_NAME as productName,
        o.ORDER_DATE as orderDate,
        o.ORDER_CUSTOMER_IDX as orderCustomerIdx
        FROM CUSTOMER_ORDERS o
        LEFT JOIN CUSTOMER c
        ON o.ORDER_CUSTOMER_IDX = c.CUSTOMER_IDX
        WHERE 1=1
        <include refid ="selectCustomerCondition"/>
        GROUP BY o.ORDER_CUSTOMER_IDX
        ORDER BY o.ORDER_DATE DESC
        LIMIT 0, #{perPageNum}
    </select>

</mapper>